.cvContainer {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  box-sizing: border-box;
  padding: 0rem 2rem 2rem 2rem;
}
p {
  font-size: 20px;
}
article {
  width: 100%;

  .spaceBtwBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
  }
  .userInfo {
    padding-left: 5px;
  }
  h2 {
    width: 100%;
  }
}

.userName {
  border-bottom: 2px solid rgb(118, 118, 224);
  padding: 0px 2rem 0rem 2rem;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
}

.userInfoHeading {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.companyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formEdit {
  scale: 0.5;
}

.switchWrapper {
  margin: 2rem;
}

.topButtonsContainer {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
